<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
{{#member}}
    <h2>{{name}}님</span> &emsp13;&emsp13;&emsp13;</h2>
    <input type="hidden" value="{{mbo}}" id="mno">회원 번호 : {{mbo}}&emsp13;&emsp13;&emsp13;
    <input type="hidden" value="{{name}}" id="mno">회원 이름 : {{name}}&emsp13;&emsp13;&emsp13;
    <input type="hidden" value="{{type}}" id="mtype">회원 유형 : {{type}}<br><br>
    <button onclick="location.href='/logout'">로그아웃</button>
{{/member}}
{{^member}}
    <button id="joinBtn">회원가입</button>
    <button id="loginBtn">로그인</button>
{{/member}}
<br><br>