{{>layout/header}}
<hr>
{{#select}}
    <input type="hidden" id="bno" value="{{bno}}">
    <p> 제목 : {{title}}</p>
    <p> 작성자 : {{writer}}&emsp13;&emsp13;&emsp13;{{regDate}}&emsp13;&emsp13;&emsp13;{{count}}&emsp13;&emsp13;&emsp13;일반 추천 : {{noReco}}&emsp13;&emsp13;&emsp13;전문가 추천 : &emsp13;&emsp13;&emsp13;{{exReco}}</p>
     내용  <p>{{content}} </p>
{{/select}}
<button id="updateBtn">글수정</button><button id="cancel">취소</button><button id="reco">추천</button>
<h2>댓글</h2>
<ul>
{{#replyList}}
    <li>
        <p>작성자 : {{rwriter}}&emsp13;&emsp13;&emsp13;{{rregDate}}</p>
        {{rcontent}}
    </li>
{{/replyList}}
</ul>
<br><br><br><br>
작성자 : <input type="text" id="rwriter"><br>
내용 : <textarea id="rcontent"></textarea><br>
<button id="reply">댓글달기</button><button id="cancel">취소</button>

{{>layout/footer}}