{{>layout/header}}
제목 : <input type="text" id="title"><br>
작성자 : <input type="text" id="writer" value="{{member.name}}"><br>
내용 : <textarea id="content"></textarea><br>
<button id="write">글작성</button><button id="cancel">취소</button>
{{>layout/footer}}